# Arquivo de configuração do MariaDB

# [mysqld]
# Diretório onde os arquivos de dados do MariaDB são armazenados
# datadir = /var/lib/mysql

# # Caminho para o socket do MySQL
# socket = /var/run/mysqld/mysqld.sock

# # Caminho para o arquivo de log de erros
# log_error = /var/log/mysql/error.log

# # Diretório temporário para arquivos temporários
# tmpdir = /tmp

# # Endereço IP ao qual o servidor MySQL irá se ligar
# bind-address = 127.0.0.1

# # Porta TCP em que o servidor MySQL irá escutar
# port = 3306

# # Número máximo de conexões simultâneas permitidas
# max_connections = 100

# # Plugin de autenticação padrão para conexões de clientes
# default_authentication_plugin = mysql_native_password

# # Tamanho do buffer de índice para tabelas MyISAM
# key_buffer_size = 16M

# # Tamanho do cache de consultas em memória
# query_cache_size = 32M

# # Tamanho do buffer de pool do InnoDB
# innodb_buffer_pool_size = 256M

# # ID do servidor para replicação
# server-id = 1

# # Caminho para o arquivo de log binário para replicação
# log_bin = /var/log/mysql/mysql-bin.log

# # Replicar apenas o banco de dados 'mydb'
# replicate_do_db = mydb

# # Habilitar registro de consultas lentas
# slow_query_log = 1

# # Caminho para o arquivo de log de consultas lentas
# slow_query_log_file = /var/log/mysql/slow-query.log


[mariadb]
plugin_load_add = server_audit
